:root {
  --bg: #F1F3FA;
  --gray-text: #959095;
  --blue: #5610FF;
  --green: #33C828;
  --red: #E70B17;
  --gradient: linear-gradient(154.99deg, #45D53A 0%, #24BD18 97.75%);
  --gradient-blue: linear-gradient(187.27deg, #9210FD 28.77%, #6728FF 68.41%), linear-gradient(116.13deg, #45D53A 0%, #24BD18 97.75%);
}