h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1 {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 500;
}

.landing-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4em;
}

html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .landing-title {
    font-size: 22px;
  }
}