.button {
  border-radius: 8px;
  background: linear-gradient(116.13deg, #45D53A 0%, #24BD18 97.75%), #777;
  color: #fff;
  width: 100%;
  max-width: 330px;
  font-size: 17px;
  font-weight: 500;
  padding: 18px;

  &_blue {
    background: var(--blue);
  }
}