.check {
  display: block;

  &__input {
    appearance: none;
  }

  &__box {
    border-radius: 4px;
    border: 2px solid #D8D8D8;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
  }

  &__input:checked ~ &__box {
    border-color: var(--green);
    background: var(--green) url(/assets/img/icons/checkbox.svg) no-repeat center;
    background-size: 14px;
  }

  &__text {
    vertical-align: middle;
    margin-left: 14px;
    font-size: 14px;

    a {
      color: var(--blue);

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .check {
    &__text {
      font-size: 12px;
    }
  }
}