.download-btn {
  position: fixed;
  max-width: 100%;
  bottom: 0;
  left: 0;
  font-size: 17px;
  border-radius: 0;

  &__icon {
    background: url(/assets/img/icons/download.svg);
    width: 13px;
    height: 16px;
  }
}