.form-landing {
  background-color: #fff;
  width: 472px;
  border-radius: 8px;
  padding: 42px 46px;

  &__input-group {
    display: flex;
  }

  &__get-code {
    border-radius: 8px;
    margin-left: 10px;
    width: 140px;
    flex-shrink: 0;
    margin-bottom: 16px;
    background: var(--gradient-blue);
    color: #fff;

    &:disabled {
      background: var(--bg);
      color: var(--blue);
    }

    &:hover,
    &:focus {
      background: linear-gradient(356.18deg, #FBAD18 11.27%, #FF4F0D 91.6%);
    }
  }

  &__label {
    width: 100%;
    display: inline-block;
    margin-bottom: 16px;
    position: relative;

    &_volume {
      input {
        padding-right: 42px;
      }
    
      &::after {
        content: '₽';
        color: #B3A8CD;
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--bg);
    font-size: 15px;
    line-height: 24px;
    padding: 16px 20px;
    outline: none;
    font-weight: 400;

    &_error {
      background-color: rgba($color: #FD1010, $alpha: .2);
      color: var(--red);
    }

    &_error-text {
      color: var(--red);
      position: absolute;
      right: 20px;
      top: 21px;
      font-size: 13px;
    }

     &::placeholder {
       color: #B3A8CD;
     }
  }

  &__new-code-text {
    color: #B3A8CD;
    font-size: 14px;
    margin-bottom: 16px;
    display: inline-block;
  }

  &__btn {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .form-landing {
    width: 100%;
    padding: 30px 25px 26px 25px;
  }
}

@media screen and (max-width: 767px) {
  .form-landing {
    &__input {
      padding: 11px 17px;
      font-size: 14px;
    }

    &__label_volume::after {
      top: 16px;
    }
  }
}
