.form {
  &__box {
    background-color: #fff;
    border-radius: 8px;
    width: 422px;
    padding: 32px 46px;
    text-align: center;
  }

  &__heading {
    margin: 0 0 40px;
  }

  &__label {
    display: block;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-bottom: 40px;
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 10px 0;
    outline: none;

    &_fill {
      border-color: var(--green); 
    }

    &_error {
      border-color: var(--red);
    }
  }

  &__error {
    color: var(--red);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 8px 0px;
  }

  &__visibility-btn {
    display: block;
    background: transparent url(../img/icons/hide.svg) no-repeat center;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: .5em;
    transform: translateY(-50%);

    &_show {
      background-image: url(../img/icons/show.svg);
    }
  }

  &__btn {
    margin-top: 10px;
  }

  &__small {
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 26px 0;

    a {
      color: var(--blue);
    }
  }

  &__forget {
    color: var(--blue);
    font-size: 14px;
    display: block;
    text-align: center;
    padding-top: 20px;
  }

  &__qr {
    padding-top: 50px;
  }

  &__qr-heading {
    margin: 26px 0;
  }
}