.form {
  &__box {
    background-color: #fff;
    border-radius: 8px;
    width: 422px;
    padding: 32px 46px;
  }

  &__heading {
    margin: 0 0 40px;
    text-align: center;
  }

  &__label {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    padding: 10px 0;
    outline: none;
    margin-bottom: 40px;
  }

  &__btn {
    margin-top: 10px;
  }

  &__no-account {
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 26px 0;

    a {
      color: var(--blue);
    }
  }

  &__forget {
    color: var(--blue);
    font-size: 14px;
    display: block;
    text-align: center;
    padding-top: 20px;
  }
}