.modal {
  position: fixed;
  width: 422px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 46px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  &__close {
    background: url(/assets/img/icons/close.svg) center no-repeat;
    background-size: contain;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &__heading {
    margin: 20px 0 8px;
  }

  &__text {
    color: var(--gray-text);
    margin-bottom: 26px;
    font-size: 14px;
  }

  &__btn-download-icon {
    height: 16px;
    width: 13px;
    background-image: url(/assets/img/icons/download.svg);
  }

  &__small {
    font-size: 14px;
    margin-top: 27px;

    a {
      color: var(--blue);
      
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__sign-in {
    margin-bottom: 14px;
  }

  &__sign-up {
    background: var(--gradient-blue);
    color: var(--blue);

    &::after {
      background: #fff;
      opacity: 1;
      height: 51px;
      top: 2px;
      width: 326px;
      left: 2.5px;
      border-radius: 8px;
    }

    &:hover,
    &:focus {
      color: #fff;

      &::after {
        background: var(--gradient-blue);
      }
    }
  }
}