.process-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;

  &__count {
    color: var(--blue);
  }

  &__percent {
    font-size: 14px;
    color: var(--blue);

    &_done {
      color: var(--green);
    }
  }
}