.process-top {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;

  &__count {
    color: var(--blue);
  }

  &__percent {
    font-size: 14px;
    color: var(--blue);
    margin-left: auto;

    &_done {
      color: var(--green);
    }
  }

  &__btn {
    border-radius: 8px;
    border: 2px solid var(--blue);
    color: var(--blue);
    padding: 9px 14px;
    margin-left: 20px;
    transition: .2s color, .2s background-color;

    svg {
      width: 12px;
      height: 12px;
      margin-right: 8px;
    }

    path {
      fill: var(--blue);
      transition: .2s fill;
    }
    
    &:hover,
    &:focus {
      background-color: var(--blue);
      color: #fff;

      path {
        fill: #fff;
      }
    }
  }
}