footer.footer
  .container.footer__box
    .footer__right
      span.footer__copyright 2019, SpeShu
      nav
        ul.footer__menu
          li
            a.footer__menu-item(href='#') Политика конфиденциальности
          li
            a.footer__menu-item(href='#') Пользовательское соглашение
    a.footer__support(href='#')
      | Поддержка
      i.footer__support-icon
