.form__box.form__qr
  img.form__qr-img(src='assets/img/qr.JPG', alt='QR Code')
  h1.h1.form__qr-heading Для регистрации напишите администратору в WeChat
  button.button.button_blue
    span Написать администратору
  small.form__small Возникли проблемы? 
    a(href="#") Обратитесь в поддержку