.modal
  button.modal__close
  img(src="/assets/img/success.svg", alt="Success image")
  h2.h1.modal__heading Обработано 140/145 ссылок
  span.modal__text Автозагрузка файла начнется через: 5 сек
  button.button
    span
      i.button__icon.modal__btn-download-icon
      | Скачать обработанный файла
  small.modal__small Возникли проблемы? 
    a(href="#") Обратитесь в поддержку