table.table
  thead.table__thead
    tr.table__row
      th.table__check
        label.check
          input.check__input(type="checkbox", name="all")
          span.check__box
      th.table__link Ссылка
      th.table__price Цена
      th.table__cashback Кэшбэк
      th.table__percent Процент
      th.table__coupon Купон
      th.table__term Срок действия
      th.table__status Статус
      th.table__reload
        button.table__reload-btn.table__thead-reload
  tbody
    tr.table__row
      td 
        label.check
          input.check__input(type="checkbox", name="all")
          span.check__box
      td https://google.com
      td 234 $
      td Да
      td 1% / 5$
      td 20
      td До 30 июля (1 день)
      td
        span.table__status_done Обработан
      td
    tr.table__row
      td 
        label.check
          input.check__input(type="checkbox", name="all")
          span.check__box
      td https://google.com
      td 234 $
      td Да
      td 1% / 5$
      td 20
      td До 30 июля (1 день)
      td
        span.table__status_done Обработан
      td