.upload-area
  img.upload-area__icon(src="/assets/img/excel.svg", alt="Excel icon")
  span.upload-area__hint= hint
  label.button.upload-btn
    span
      i.button__icon.upload-btn__icon
      | #{btn} 
    input.upload-btn__input-file(@change="changeFile" type="file", accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")