- var title = 'Ошибка загрузки файла'
include includes/head.pug

body
  .app
    include includes/header.pug
    main.container.app__main.upload__main
      include includes/error-upload-form.pug
      include includes/upload-loading.pug
    include includes/footer.pug
  include includes/vue.pug
  script(src="/assets/js/upload.js")