- var title = 'Главная'

include includes/head.pug

body.landing
  include includes/landing/header.pug
  include includes/landing/work-process.pug
  include includes/landing/form-section.pug
  include includes/landing/advices.pug
  include includes/footer.pug
  include includes/vue.pug
  include includes/landing/upload-modal.pug
  script(src="/assets/js/upload.js")
  script(src="https://unpkg.com/imask")
  script(src="/assets/js/sign-up.js")
  script(src="/assets/js/upload-modal.js")
