include includes/head.pug

body
  .app
    include includes/header.pug
    .container.app__main
      include includes/table.pug
    include includes/footer.pug
    button.download-btn
      i.download-btn__icon
      | Скачать обработанный файл

  script(src="/assets/js/table.js")