.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    margin: auto;
    padding: 68px 15px;
  }

  &__box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 76px;
  }
}
