.work-process {
  background: #fff;

  &__title {
    margin-top: 47px;
    margin-bottom: 66px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  &__item {
    width: 31%;
    display: flex;
    margin-bottom: 90px;

    &:not(:last-child) {
      align-items: flex-start;
    }

    &:last-child {
      align-items: center;
    }
  }

  &__number {
    background: radial-gradient(28.71px at 43.93% 51.74%, #F1F3FA 0%, #D3D7E6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    flex-shrink: 0;
    margin-right: 26px;
  }

  &__img-box {
    flex-shrink: 0;
    margin-right: 26px;
    width: 80px;
    text-align: center;
  }

  &__want {
    border-radius: 8px;
    background-color: rgba($color: #6728FF, $alpha: .15);
    width: 300px;
    color: #6728FF;
    font-weight: 500;
    font-size: 18px;
    padding: 36px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .work-process {
    &__item {
      width: 45%;
    }

    &__want {
      height: 56px;
    }
  }
}

@media screen and (max-width: 767px) {
  .work-process {
    &__title {
      margin-top: 26px;
      margin-bottom: 36px;
    }

    &__item {
      width: 100%;
      margin-bottom: 33px;

      &:last-child {
        display: block;
      }
    }

    &__img-arrow {
      width: 100%;
      margin-bottom: 25px;

      img {
        transform: rotate(90deg);
      }
    }

    &__want {
      width: 100%;
    }
  }
}