section.upload-landing
  .container
    h2.landing-title.upload-landing__title Оставьте заявку на регистрацию или 
      span.upload-form__upload загрузите Excel-бланк
        input.upload-form__input-file(@change="changeFile" type="file", accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel")
    .upload-landing__box
      include form.pug
      - var hint = 'Загрузите заказ в формате Excel и узнайте какой размер кешбэка можно получить с каждого товара'
      - var btn = 'Выбрать Excel-бланк'
      #upload.upload-landing__right(v-cloak)
        .upload-landing__area(v-if="status === 'waiting'")
          include ../upload-area.pug
        .upload-landing__loading(v-if="status !== 'waiting'")
          include ../upload-loading.pug