#sign-up(v-cloak)
  form.upload-landing__form.form-landing(@submit="checkForm")
    label.form-landing__label
      input.form-landing__input(type="text", name="first-name", placeholder="Имя", required)
    .form-landing__input-group
      label.form-landing__label
        input.form-landing__input(type="tel", name="phone", placeholder="Телефон", @click="inputPhone", @input="inputPhone", @focus="inputPhone", @blur="inputPhone", required)
      button.form-landing__get-code(type="button", @click="getCode", :disabled="phoneLength < 18") Получить код
    label.form-landing__label
      input.form-landing__input(type="text", name="code", placeholder="Код из СМС", :class="{ 'form-landing__input_error': error }" required)
      span.form-landing__input_error-text(v-if="error") Неправильный код
    span.form-landing__new-code-text Новый код можно запросить через: 
      span.form-landing__time {{ sec }} 
      | сек
    label.form-landing__label.form-landing__label_volume
      input.form-landing__input(type="text", name="volume", placeholder="Текущий объем выкупа", required) 
    label.form-landing__label
      input.form-landing__input(type="text", name="clients-count", placeholder="Количество клиентов", required) 
    label.form-landing__label
      input.form-landing__input(type="text", name="city", placeholder="Ваш город", required) 
    label.check.form-landing__label
      input.check__input(type="checkbox", name="policy", checked, required)
      span.check__box
      span.check__text Согласен с 
        a(href="#") политикой конфиденциальности
    button.button.button_blue.form-landing__btn(type="submit")
      span Оставить заявку

