header.header-landing
  .container
    nav.header-landing__nav
      a.header-landing__logo(href="/")
        img(src="/assets/img/logotype-white.svg", alt="SpeShu logotype")
      div
        a(href="/").header-landing__sign-in
          | Войти
        a(href="/index-qr").header-landing__sign-up Зарегистрироваться
    .header-landing__box
      .header-landing__left
        h1.landing-title.header-landing__title Получайте кэшбэки за покупку товара
          br
          | на Taobao и Tmall от российско-китайского логистрического IT стартапа
        p.header-landing__p Загрузите заказ в формате Excel и узнавайте какой
          br
          | размер кэшбэка можно получить с каждого товара
        .header-landing__upload-box
          button.button.upload-btn.header-landing__upload(onclick="openModal()")
            span Загрузить файл
          i.header-landing__upload-arrow
        .header-landing__companies
          span При поддержке:
          img(src="/assets/img/skolkovo.svg", alt="")
          img(src="/assets/img/mail-ru.svg", alt="")
      .header-landing__right
        img(src="/assets/img/header-img.svg", alt="")
        .header-landing__companies.header-landing__companies_mobile
          span При поддержке:
          img(src="/assets/img/skolkovo.svg", alt="")
          img(src="/assets/img/mail-ru.svg", alt="")