.upload-modal
  .upload-modal__box
    button.modal__close(onclick="closeModal()")
    #upload2
      div(v-if="status === 'waiting'")
        include ../upload-area.pug
      include ../upload-loading.pug