section.container.work-process
  h2.landing-title.work-process__title Как это работает?
  ul.work-process__list
    li.work-process__item
      span.work-process__number 1
      img.work-process__img(src="/assets/img/step-1.svg", alt="")
      p Клиет отправляет вам заказ на покупку товаров в формате Excel
    li.work-process__item
      span.work-process__number 2
      img.work-process__img(src="/assets/img/step-2.svg", alt="")
      p Вы загружаете заказ на наш сервис. Это займет всего пару минут 
    li.work-process__item
      span.work-process__number 3
      img.work-process__img(src="/assets/img/step-3.svg", alt="")
      p Мы анализируем товары и запоминаем данные о них, связывая с вашим аккаунтом
    li.work-process__item
      span.work-process__number 4
      img.work-process__img(src="/assets/img/step-4.svg", alt="")
      p Вы скачиваете бланк с нашей системы и делаете покупку у продавцов
    li.work-process__item
      span.work-process__number 5
      img.work-process__img(src="/assets/img/step-5.svg", alt="")
      p Каждое 10 число месяца мы выплаиваем кешбэк за купленные товары
        br
        | в прошлом месяце на вашу российскую банковкую карту
    li.work-process__item
      img.work-process__img(src="/assets/img/step-arrow.svg", alt="")
      span.work-process__want Хочу получать кешбэк!