<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="app">
    <div class="app__main">
      <header class="header">
        <a
          href="/"
          class="logo"
        >
          <img
            src="assets/img/logotype.svg"
            alt="SpeShu logotype"
          >
        </a>
      </header>

      <main>
        <form
          action=""
          class="form"
          v-cloak
        >
          <div class="form__box">
            <h1 class="h1 form__heading">Войти в личный кабинет</h1>
            <label class="form__label">
              <input
                v-model="login"
                class="form__input"
                :class="loginClass"
                type="text"
                name="login"
                placeholder="Логин"
                required
              >
              <small
                v-if="error[0]"
                class="form__error"
              >
                <span>{{ error[0] }}</span>
                Ошибка
              </small>
            </label>
            <label class="form__label">
              <input
                v-model="password"
                :type="type"
                :class="passwordClass"
                class="form__input"
                name="password"
                placeholder="Пароль"
                required
              >
              <small
                v-if="error[1]"
                class="form__error"
              >
              <span>{{ error[1] }}</span>
              Ошибка
            </small>
              <button
                :class="{ 'form__visibility-btn_show': type === 'text' }"
                class="form__visibility-btn"
                type="button"
                @click="toggleShow"
              ></button>
            </label>
            <button
              class="button form__btn"
              type="submit"
            >Войти</button>
            <small class="form__no-account">
              У вас нет аккаунта? <a href="#">Зарегистрироваться</a>
            </small>
          </div>
          <a
            href="#"
            class="form__forget"
          >Забыли пароль?</a>
        </form>
      </main>
    </div>

    <footer class="footer">
      <div class="container footer__box">
        <div class="footer__right">
          <span class="footer__copyright">2019, SpeShu</span>
          <nav>
            <ul class="footer__menu">
              <li>
                <a
                  class="footer__menu-item"
                  href="#"
                >Политика конфиденциальности</a>
              </li>
              <li>
                <a
                  class="footer__menu-item"
                  href="#"
                >Пользовательское соглашение</a>
              </li>
            </ul>
          </nav>
        </div>
        <a
          href="#"
          class="footer__support"
        >
          Поддержка
          <i class="footer__support-icon"></i>
        </a>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="assets/js/form.js"></script>
</body>
</html>